@use "../../styles/global.scss" as *;

.Container {
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;

  .input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid $neutral-Purple-200;
    color: $primary-blue-950;
    font-weight: bold;
    padding-left: 0.3rem;
    border-radius: 0.5rem;

    &:hover {
      border: 1px solid $primary-Purple-600;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $neutral-Grey-500;
    }
    &.inputError {
      border: 2px solid $primary-Red-500 !important;

      &:hover,
      &:focus {
        border: 1px solid $primary-Red-500 !important;
        outline: none;
      }
    }
  }
}
