@use "../../styles/global.scss" as *;

.container {
  display: flex;
  flex-direction: row;
}

.toggleSwitchWrapper {
  background: var(--Neutral-300);
  width: 2.5rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  transition: 0.3s;
  // margin-right: 1rem;
  background-color: $primary-blue-950;

  input:checked + span {
    left: 50%;
  }

  &.checked {
    background-color: $primary-blue-950;
  }
}

.input {
  height: 100%;
  width: 100%;
  opacity: 0;
}

.span {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  left: 0.2rem;
  box-shadow: 2px 2px 4px gray;
  cursor: pointer;
  transition: all 0.3s ease;
}

.label {
  color: $neutral-Grey-500;
  font-weight: bold;
  margin: 0 0.8rem;
}

.activeLabel {
  color: $primary-blue-950;
}
