@use "../../styles/global.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.info {
  width: 40rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}
