@use "../../styles/global.scss" as *;

.container {
  width: 12rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem 0 0.5rem 0.8rem;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 0;
  border: 2px solid $neutral-Purple-200;

  .img {
    width: 100%;
    max-width: 3rem;
  }
}

.isActive {
  border: 2px solid $primary-blue-300;
}

.containerInfo {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-blue-950;
    margin-bottom: 0.3rem;
  }

  p {
    font-weight: 300;
    color: $neutral-Purple-200;
  }
}
