@use "../../styles/global.scss" as *;

.container {
  width: 13rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 0;
  border: 2px solid $neutral-Purple-200;

  &:hover {
    border: 2px solid $primary-blue-300;
  }

  .img {
    width: 100%;
    max-width: 3rem;
    margin-bottom: 2rem;
  }
}

.isActive {
  border: 2px solid $primary-blue-300;
  background-color: $primary-blue-200;
}

.containerInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-blue-950;
  }

  p {
    font-weight: 300;
    color: $neutral-Grey-500;
  }

  span {
    font-size: 0.9rem;
    color: $primary-blue-950;
    font-weight: 500;
    margin: 0.5rem 0 0.5rem 0;
  }
}

@media (min-width: $xs) and (max-width: $sm) {
  .container {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    padding: 0.8rem 0.5rem;
    margin: 0;
  }

  .containerInfo {
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
    span {
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .container {
    width: 100%;
    max-width: 10rem;
    padding: 1rem;
  }
}
