@use "../../styles/global.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.planners {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.switch {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $neutral-Blue-100;
}
.containerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.containerButtonsMobile {
  display: none;
}
@media (min-width: $xs) and (max-width: $sm) {
  .container {
    width: 20rem;
    min-width: 17rem;
    background-color: $white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.2rem hsla(229, 24%, 87%, 0.35);
  }
  .planners {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .containerMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    position: absolute;
    top: 5rem;
    z-index: 0;
    padding-bottom: 5rem;
  }

  .switch {
    padding: 0.4rem;
  }

  .containerButtons {
    display: none;
  }

  .containerButtonsMobile {
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 0.4rem 1rem;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.1);
  }
}
