@use "../../styles/global.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.planners {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.switch {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $neutral-Blue-100;
}
.containerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
