// Primary
$primary-color: #6142ed;
$primary-blue-200: hsl(206, 94%, 87%);
$primary-blue-300: hsl(228, 100%, 84%);
$primary-blue-950: hsl(213, 96%, 18%);
$primary-Purple-600: hsl(243, 100%, 62%);
$primary-Red-500: hsl(354, 84%, 57%);

// Neutral
$neutral-Grey-500: hsl(231, 11%, 63%);
$neutral-Purple-200: hsl(229, 24%, 87%);
$neutral-Blue-100: hsl(218, 100%, 97%);
$neutral-Blue-50: hsl(231, 100%, 99%);
$white: hsl(0, 100%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: $neutral-Blue-50;
}

.Title {
  color: $primary-blue-950;
  font-size: 2.8rem;
}

.Subtitle {
  color: $neutral-Grey-500;
}
