@use "../../styles/global.scss" as *;

.app {
  display: flex;
  flex-direction: row;
  .imgWrapper {
    display: flex;
    // width: 100%;
    // align-items: center;
    // justify-content: center;
    align-items: center; // alinha verticalmente ao centro se for row
    height: 100vh;
    // width: 100%;
    margin-left: 0.5rem;

    .img {
      height: 95vh;
      // width: 100%;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-left: 0.5rem;
    }
    .steps {
      position: absolute;
      // background-color: aqua;
      // width: 100%;
      height: 90vh;

      //   top: 0;
      //   left: 0;
      //   padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      gap: 3rem;
      margin: 2rem 0 0 1rem;
      // align-items: center;
      z-index: 1;
      // Ajuste como quiser:
      //   display: flex;
      //   gap: 1rem;
    }
  }

  .pages {
    width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed red;
  }
}
