@use "../../styles/global.scss" as *;

.app {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  flex-direction: row;
  background-color: $white;

  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;

    .steps {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      gap: 3rem;
      margin: 2rem 0 0 1rem;
      padding: 1.2rem 0 0 1.2rem;
      object-fit: cover;
      background-image: url("../../../public/images/bg-sidebar-desktop.svg");
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
    }
  }

  .pages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: $xs) and (max-width: $sm) {
  .app {
    flex-direction: column;
    background-color: $neutral-Blue-100;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;

    .imgWrapper {
      height: 30vh;
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: flex-start;
      margin-left: 0;

      .steps {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        background-image: url("../../../public/images/bg-sidebar-mobile.svg");
        gap: 1rem;
        position: relative;
      }
    }

    .pages {
      background-color: transparent;
      width: 100%;
      border-radius: 1rem;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .app {
    height: 100%;

    .imgWrapper {
      height: 100%;

      min-height: 98vh;
      .steps {
        margin: 0.5rem 0 0 0.5rem;
        padding: 0.3rem 0 0 0.5rem;
      }
    }

    .pages {
      padding: 0.5rem;
    }
  }
}

@media (min-width: $lg) and (max-width: $xl) {
  .app {
    width: 100%;
    height: 100%;
    .imgWrapper {
      .steps {
        margin: 0.5rem 0 0 0.5rem;
        padding: 0.3rem 0 0 0.5rem;
      }
    }
    .pages {
      padding: 1rem;
      height: 100%;
    }
  }
}
