@use "../../styles/global.scss" as *;

@media (min-width: $xs) and (max-width: $sm) {
  .containerNames {
    display: none;
  }
}

.container {
  display: flex;

  .circle {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    transition: background-color 0.3s, color 0.3s;
    color: $white;
    border: 2px solid $white;
  }
  .active {
    color: $primary-blue-950;
    font-weight: 800;
    background-color: $white;
    border: 2px solid $primary-blue-950;
  }

  .step {
    font-weight: 200;
    color: $neutral-Purple-200;
    text-transform: uppercase;
  }

  .name {
    font-weight: 800;
    color: $white;
    text-transform: uppercase;
  }
}
