@use "../../styles/global.scss" as *;

.planners {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.switch {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $neutral-Blue-100;
}
.containerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
