@use "../../styles/global.scss" as *;
.container {
  width: 50rem;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  // label {
  //   color: $primary-blue-950;
  //   // margin-bottom: 0.5rem;
  // }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .label {
    display: flex;
    justify-content: space-between;
  }

  .labelError {
    color: $primary-Red-500;
    align-self: flex-end;
    font-size: 1rem;
    font-weight: bold;
  }

  // label {
  //   margin-bottom: 2rem;
  // }
}

.label {
  // background-color: green;
  color: $primary-blue-950;
  // margin-bottom: 1rem;
}

.Button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  //   margin-top: 3rem;
}
