@use "../../styles/global.scss" as *;
.container {
  width: 50rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .label {
    display: flex;
    justify-content: space-between;
  }

  .labelError {
    color: $primary-Red-500;
    align-self: flex-end;
    font-size: 1rem;
    font-weight: bold;
  }
}

.label {
  color: $primary-blue-950;
}

.Button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
