@use "../../styles/global.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  gap: 0.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.containerAdditional {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
