@use "../../styles/global.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  gap: 0.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.containerAdditional {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.containerButtonsMobile {
  display: none;
}

@media (min-width: $xs) and (max-width: $sm) {
  .containerMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    position: absolute;
    top: 5rem;
  }
  .container {
    width: 20rem;
    min-width: 17rem;
    height: 100%;
    background-color: $white;
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
    box-shadow: 0 0.5rem 1.2rem hsla(229, 24%, 87%, 0.35);
  }

  .containerButtons {
    display: none;
  }

  .containerButtonsMobile {
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.4rem 1rem;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .container {
    width: 100%;
    min-width: none;
  }
  .containerMobile {
    width: 100%;
  }
}
