@use "../../styles/global.scss" as *;

.container {
  width: 50rem;
  background-color: $neutral-Blue-100;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  a {
    color: $primary-color;
  }

  span {
    display: block;
    height: 1px;
    background-color: $neutral-Blue-50;
    margin: 1rem 0;
  }
}

.containerInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    color: $primary-blue-950;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}

.label {
  color: $neutral-Grey-500;
  font-size: 1rem;
  font-weight: 500;
}

.price {
  color: #000;
  font-weight: 700;
}

.total {
  padding: 1rem;

  > h3 {
    color: $primary-Purple-600;
    font-size: 1.3rem;
    font-weight: 800;
  }
}
