@use "../../styles/global.scss" as *;

.container {
  width: 50rem;
  background-color: $neutral-Blue-100;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  a {
    color: $neutral-Grey-500;

    &:hover {
      color: $primary-color;
    }
  }

  span {
    display: block;
    height: 1px;
    background-color: $neutral-Blue-50;
    margin: 1rem 0;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.containerInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: $primary-blue-950;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}

.containerButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label {
  color: $neutral-Grey-500;
  font-size: 1rem;
  font-weight: 500;
}

.price {
  color: #000;
  font-size: 1rem;
}

.total {
  padding: 1rem;

  > h3 {
    color: $primary-Purple-600;
    font-size: 1.3rem;
    font-weight: 800;
  }
}

.containerButtonsMobile {
  display: none;
}

@media (min-width: $xs) and (max-width: $sm) {
  .containerAll {
    width: 20rem;
    min-width: 17rem;
    background-color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.2rem hsla(229, 24%, 87%, 0.35);
  }
  .containerMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    position: absolute;
    top: 5rem;
  }
  .container {
    width: 18rem;
    min-width: 15rem;

    a {
      font-size: 1rem;
    }
  }

  .containerInfo {
    h2 {
      font-size: 1rem;
    }
  }
  .label,
  .price {
    font-size: 0.8rem;
  }

  .total {
    h3 {
      font-size: 1rem;
    }
  }

  .containerButtons {
    display: none;
  }
  .containerButtonsMobile {
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.1);
  }
}
