@use "../../styles/global.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid $neutral-Purple-200;
  padding: 1.5rem;

  &:hover {
    border: 2px solid $primary-blue-300;
  }
  input[type="checkbox"] {
    transform: scale(2.3);
    margin-right: 1rem;
    margin-right: 1rem;
    accent-color: $primary-color;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: $primary-blue-950;
  }
}

.description {
  color: $neutral-Grey-500;
}

.price {
  color: $primary-Purple-600;
}

.active {
  border: 2px solid $primary-blue-300;
  background-color: rgba($primary-blue-300, 0.2);
}

@media (min-width: $xs) and (max-width: $sm) {
  .container {
    height: 100%s;
    padding: 0.8rem;

    input[type="checkbox"] {
      transform: scale(1.8);
      margin-right: 0.8rem;
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
