@use "../../styles/global.scss" as *;

.container {
  width: 100%;
  // height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid $primary-blue-300;
  padding: 1.5rem;

  input[type="checkbox"] {
    transform: scale(2.3);
    margin-right: 1rem;
    margin-right: 1rem;
    accent-color: $primary-color;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: $primary-blue-950;
  }
}

.description {
  color: $neutral-Grey-500;
}

.price {
  // width: 100%;
  // height: 100%;
  // display: flex;

  // flex-direction: row;
  // align-items: flex-start;

  color: $primary-Purple-600;
}

.active {
  background-color: rgba($primary-blue-300, 0.2);
}
